# Student Performance Regression Analysis
- This notebook is to perform eda analysis on the student performance data and identify a relationship with the 
- individual test scores as related to the student demographics
- Data Collection is from Kaggle repository https://www.kaggle.com/datasets/spscientist/student-performance-in-exams

In [19]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv('..\data\StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

- Statistical Description of Data

In [21]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Observations
- The data frame has 1000 rows divided into 8 columns. There are three numerical columns indicating the score of the student in Math, Reading and Writing. There are 5 categorical variables indicating the student demographic. There are no missing values.

--  Display the categorical columns and their unique values

In [41]:
categorical_columns = [col for col in df.columns if df[col].dtype =='O']
numerical_columns = [col for col in df.columns if df[col].dtype != 'O']
print(len(categorical_columns))
print(categorical_columns)
print (len(numerical_columns))
print(numerical_columns)

5
['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course']
3
['math score', 'reading score', 'writing score']

In [42]:
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB